body {
    font-family: Helvetica, Arial, sans-serif, serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .top {
    background-color: #1f2937;
}

.top {
    display: flex;
    padding-bottom: 10vh;
    padding-top: 10vh;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 20px;
}

.bold1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 10vw;
}

.top-left {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-right {  
    display: flex;
    align-items: center;
    flex-basis: 260px;
    flex-grow: 1;
}

.b1 {
    border-radius: 8px;
    background: #3882f6;
    color: white;
    border: 2;
    padding: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #3882f6;
    transition-duration: 0.2s;
}

.b1:hover {
    background-color: white;
    color: #3882f6;
}

.top-right img {
    max-width: 100%;

}

#main-hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.sub-hero {
    font-size: 18px;
    color: #e5e7eb;
}

.subtext1 {
    font-size: 18px;
    color: #e5e7eb;
}

#box-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f9faf8;
}